header {
  box-sizing: border-box;
  padding: 0 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: grey;
}
.header img {
  height: 40px;
}
ol li {
  border: solid 1px purple;
  padding: 5px;
  border-radius: 5px;
}
ol,
nav {
  display: flex;
}

li {
  margin: 0 20px;
  list-style: none;
}
.search {
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.search ul {
  display: flex;
}

.visible {
  display: none;
}
.menu {
  display: none;
}
@media (max-width: 1024px) {
  .visible {
    display: block;
    position: relative;
    margin: 0 10px;
  }
  .nav {
    display: none;
  }
  .menu {
    display: inherit;
    flex-direction: column;
    position: absolute;
    background-color: #7c4ec4;
    box-shadow: 5px 2px 2px black;
    border-radius: 5px;
    left: 70px;
    color: white;
  }
  .left-header {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .header img {
    height: 30px;
  }
}
